/*
Theme Name: Astra Child
Theme URI: https://wpastra.com/
Template: astra
Author: Evita
Description: Astra is fast, fully customizable &amp; beautiful WordPress theme suitable for blog, personal portfolio, business website and WooCommerce storefront. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with Schema.org code integrated and is Native AMP ready so search engines will love your site. It offers special features and templates so it works perfectly with all page builders like Elementor, Beaver Builder, Visual Composer, SiteOrigin, Divi, etc. Some of the other features: # WooCommerce Ready # Responsive # RTL &amp; Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained &amp; Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and WooCommerce ready theme that you can use for building any kind of website!
Tags: custom-menu,custom-logo,entertainment,one-column,two-columns,left-sidebar,e-commerce,right-sidebar,custom-colors,editor-style,featured-images,full-width-template,microformats,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready,blog
Version: 3.4.6.1622617872
Updated: 2021-06-02 07:11:12

*/
@import url(../astra/style.css);

body {
    background-color:#FDD96E ;
  }
 
#website-navigation {
    background:#fff;
    height:60px;
    z-index:170;
    margin:0 auto;
    border-bottom:1px solid #dadada;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align: center;
}
    
button{
    background-color: #D02F29;
    color: #ffffff;
    border-radius: 57px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;40px;20px;40px;
}
btn.hover{
    color: #D02F29;
    background-color: #ffffff; 
} 

h1,
.entry-content h1 {
  color: #000000;
  font-size: 2em;
  line-height: 1.2;
}

h2,
.entry-content h2 {
  color: ##D02F29;
  font-size: 1.7em;
  line-height: 1.3;
}

h3,
.entry-content h3 {
  color: #000000;
  font-size: 1.5em;
  line-height: 1.4;
}

h4,
.entry-content h4 {
  color: #000000;
  line-height: 1.5;
  font-size: 1.3em;
}

h5,
.entry-content h5 {
  color: #000000;
  line-height: 1.6;
  font-size: 1.2em;
}

h6,
.entry-content h6 {
  color: #000000;
  line-height: 1.7;
  font-size: 1.1em;
}
